<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Alta de alumnos</h1>
	

      
	<form action="#" th:action="@{/costanera}" th:object="${alumno}" method="post">
		<p>Nombre: <input type="email" th:field="*{name}" /></p>
        <p>Apellido: <input type="email" th:field="*{apellido}" /></p>
        <p>Mail: <input type="email" th:field="*{mail}" /></p>
        <p>DNI: <input type="number" th:field="*{dni}" /></p>
        <p>Telefono: <input type="number" th:field="*{telefono}" /></p>      
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
   </tr>
	</body>
</html>