<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
	<form th:action="@{/temasresult}" th:object="${t}" method="post">
<table>
            <tr>
                <td>Select Country:</td>
                <td>
                    <select th:field="*{id}">
                         <option value=""> -- </option>
                         <option th:each="temas : ${t}"
                            th:value="${temas.id}"
                            th:text="${temas.name}"/>
                  </select>
 
                </td>
            </tr>
         
            <tr>
                <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
        </table>

 </form>
 
    <a href="/alumno">Submit another message</a>
</body>
</html>